@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 64px;
  --footer-height: 80px;
}

.slide-out-menu {
  z-index: 1000;
}

.main-content {
  z-index: 1;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.main {

}